@media screen and (max-width: 1440px){
  
}
@media screen and (max-width: 1024px){
  .tabs__list li:not(:last-child){
    margin-right: 12px;
  } 
}
@media screen and (max-width: 768px){
  .tabs__list{
    justify-content: center;
  }
  .reset-reminder{
    top: 30px;
  }
}
